@tailwind preflight;
@tailwind utilities;

@import "_vars";
@import "_mixins";
@import "_extends";

$font-size: 50px;

.example {
  @extend %message-shared;
  font-size: $font-size;
  display: flex;
  color: $color;
  border: 1px solid green;
  @include border-radius(10px);

  small {
    color: red;
  }
}
